.card-image-wrapper{
    overflow: hidden;
    position: relative;
}
.card:hover img{
    transform: scale(1.2,1.2);
    /* transition-duration: 500ms; */
    /* transition-timing-function: ease-out; */
    transition: ease-out 0.5s;
    height: 14em;
}
.card img{
    transform: scale(1,1);
    /* transition-duration: 500ms;
    transition-timing-function: ease-out; */
    transition: ease-out 0.5s;
    height: 14em;
}
.card-image-wrapper:hover .member-icons{
    bottom: 0em;
}
.member-icons{
    position: absolute;
    bottom: -10em;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
}
